<section class="TodoSection">
        <div class="TodoSectionTitle">
          <p class="TodoSectionTitle-text"><%= section_title %></p>
          <p class="TodoSectionTitle-remainingCount"><%= todos.completed.count %>/<%= todos.count %></p>
        </div>
        <ul>
        <% todos.each do |todo| %>
          <li class="TodoItem">
            <div class="TodoItem-container">
            <%= form_with(url: "todos/#{todo.id}/", method: "PUT") do %>
              <form method="PUT" action='/todos/<%= todo.id %>'>
              <input class="TodoItem-checkbox"
                name="completed"
                type="checkbox"
                onclick="this.form.submit()"
                <%= todo.completed ? "checked" : "" %>
              />
            <% end %>

              <p class='<%= todo.completed ? "TodoItem-complete" : "" %>'>
                <%= todo.todo_text %>
              </p>

              <% if show_due_date %>
              <p class="TodoItem-dueDate"><%= todo.due_date.to_fs(:short) %></p>
              <% end %>

              <a class="TodoItem-delete" href="javascript:void(0)">
              <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
                <input type="image" src=<%= image_url("delete.svg") %>  alt="thrashcan image" />
              <% end %>
              </a>
            </div>
          </li>
        <% end %>
        </ul>
      </section>
